body {
    position: relative;
}

#modal {
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 999;
    min-height: 100vh;

    h3 {
        position: relative;
        display: inline-block;
        padding: 0.5rem;
        padding-top: 0;

        &:after {
            content: '';
            position: absolute;
            width: 100%;
            height: 1px;
            background-color: #000;
            left: 0;
            bottom: 0;
        }
    }
}

#summary {
    position: absolute;
    width: 80%;
    height: 70%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #eee;

    #close-summary {
        position: absolute;
        right: 0.5rem;
        top: 0.5rem;
        cursor: pointer;
        padding: 0.5rem 1rem;

        i {
            font-size: 1.5rem;
        }
    }

    .abs-middle {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }

    table {
        min-width: 40%;
        margin: 2.5rem auto;

        td {
            border: 1px solid #111;
            padding: 0.25rem 0.5rem;
        }
    }

    .caution {
        text-align: center;

        .link-button {
            padding: 0.5rem 2rem;
            margin: 1rem 0.5rem;
            margin-bottom: 0;
        }
    }
}

///////////////////////////////////////////////////

#modal-2 {
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 999;
    min-height: 100vh;

    h3 {
        position: relative;
        display: inline-block;
        padding: 0.5rem;
        padding-top: 0;

        &:after {
            content: '';
            position: absolute;
            width: 100%;
            height: 1px;
            background-color: #000;
            left: 0;
            bottom: 0;
        }
    }
}

#summary-2 {
    position: absolute;
    width: 30rem;
    height: 15rem;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #eee;

    #close-summary-2 {
        position: absolute;
        right: 0.25rem;
        top: 0.25rem;
        cursor: pointer;
        padding: 0.5rem 1rem;

        i {
            font-size: 1.5rem;
        }
    }

    .abs-middle {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }

    .caution {
        text-align: center;

        .link-button {
            padding: 0.5rem 2rem;
            margin: 1rem 0.5rem;
            margin-bottom: 0;
        }
    }
}

//////////////////////////////////////////

#modal-5 {
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 999;
    min-height: 100vh;

    h3 {
        position: relative;
        display: inline-block;
        padding: 0.5rem;
        padding-top: 0;

        &:after {
            content: '';
            position: absolute;
            width: 100%;
            height: 1px;
            background-color: #000;
            left: 0;
            bottom: 0;
        }
    }
}

#summary-5 {
    position: absolute;
    width: 30rem;
    height: 15rem;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #eee;

    #close-summary-5 {
        position: absolute;
        right: 0.25rem;
        top: 0.25rem;
        cursor: pointer;
        padding: 0.5rem 1rem;

        i {
            font-size: 1.5rem;
        }
    }

    .abs-middle {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }

    .caution {
        text-align: center;

        .link-button {
            padding: 0.5rem 2rem;
            margin: 1rem 0.5rem;
            margin-bottom: 0;
        }
    }
}

//////////////////////////////////////////

.exam-det {
    color: #fff;
    background-color: orange;
    font-weight: bold;
    font-size: 1.5rem;
    line-height: 1;
    padding: 1rem 2rem;

    #exam-name {
        float: right;
    }
}

main {
    padding-top: 2rem;

    .ques-container {
        width: 100%;
        height: calc(100vh - 28rem);
        overflow-y: scroll;
        border-bottom: 1px solid #000;

        .ques_sl {
            position: relative;
            font-size: 1.25rem;
            font-weight: bold;
            letter-spacing: 1px;
            padding-bottom: 0.5rem;
            margin-bottom: 1rem;

            &:after {
                content: '';
                position: absolute;
                left: 0;
                bottom: 0;
                width: 100%;
                height: 1px;
                background-color: #000;
            }
        }

        .ques {
            margin-bottom: 1rem;
        }
    }

    .options-container {
        padding-bottom: 2rem;

        input[type="radio"], label {
            cursor: pointer;
        }

        .clear-container {
            display: flex;
            justify-content: flex-end;
            // justify-content: space-between;
            padding-right: 1.5rem;

            .clear, .review {
                font-size: 0.85rem;
                border: 1px solid #000;
                padding: 0.25rem 0.5rem;
                cursor: pointer;
                font-weight: bold;
                border-radius: 0;
                text-transform: uppercase;
                // margin-top: 0.75rem;
            }
            .clear {
                color: #000;
                background-color: #fff;
            }
            .review {
                color: #fff;
                background-color: #1A237E;
                margin-right: 1rem;
            }
        }

    }

    .response-container {
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding: 0.5rem 0;

        .button {
            border: 0;
            color: #fff;
            background-color: rgba(0, 0, 255, 0.6);
            padding: 0.5rem 1rem;
            cursor: pointer;
            font-weight: bold;
            border-radius: 0;
            text-transform: uppercase;
            margin-bottom: 0.25rem;
        }

        #sv-nxt {
            background-color: #2E7D32;
        }

        #sv-re {
            // color: #000;
            background-color: orange;
        }

        #re-nxt {
            display: none !important;
            background-color: #1A237E;
        }

        #clear {
            color: #000;
            background-color: #fff;
            border: 1px solid #000;
        }
    }

    .navigate-container {
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding: 0.5rem;
        background-color: rgba(0, 0, 255, 0.07);

        .next-prev {
            #prev, #next {
                border: 0;
                font-size: 1.2rem;
                color: #fff;
                background-color: rgba(0, 0, 255, 0.6);
                padding: 0.5rem 1rem;
                cursor: pointer;
                font-weight: bold;
                // text-transform: uppercase;

                &:disabled {
                    cursor: default;
                    background-color: rgba(0, 0, 255, 0.3);
                }
            }
        }

        #submit {
            border: 0;
            font-size: 1.2rem;
            color: #fff;
            background-color: rgba(255, 0, 0, 0.75);
            padding: 0.5rem 1rem;
            cursor: pointer;
            font-weight: bold;
            // text-transform: uppercase;
        }
    }

    .response-status {
        .row {
            padding-top: 0.25rem;
            padding-bottom: 0.25rem;
        }

        .text {
            letter-spacing: 1px;
        }

        .circle {
            display: inline-flex;
            flex: 0 0 auto;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            margin-right: 1rem;
            height: 2.5rem;
            width: 2.5rem;
        }

        #not-visited {
            background-color: rgba(0, 0, 255, 0.2);
        }

        #not-answered {
            color: #fff;
            background-color: red;
        }

        #answered {
            color: #fff;
            background-color: #2E7D32;
        }

        #marked-re {
            color: #fff;
            background-color: #1A237E;
        }

        #ans-marked-re {
            color: #fff;
            background-color: orange;
        }
    }

    .response-sl-status {
        padding: 1.5rem 1rem;
        padding-left: 0;
        height: calc(100vh - 28rem);
        overflow-y: scroll;

        .ques-sl-btn {
            display: inline-flex;
            align-items: center;
            justify-content: center;
            border-radius: 5px;
            margin-right: 0.25rem;
            margin-bottom: 0.25rem;
            height: 2.5rem;
            width: 2.5rem;
            cursor: pointer;

            border: 1px solid #333;
            background-color: rgba(0, 0, 255, 0.2);
        }

        .sl-not-visited {
            background-color: rgba(0, 0, 255, 0.2);
        }

        .sl-not-answered {
            color: #fff;
            background-color: red;
            border-radius: 50%;
        }

        .sl-answered {
            color: #fff;
            background-color: #2E7D32;
            border-radius: 50%;
        }

        .sl-marked-re {
            color: #fff;
            background-color: #1A237E;
            border-radius: 50%;
        }

        .sl-ans-marked-re {
            color: #fff;
            background-color: orange;
            border-radius: 50%;
        }
    }
}
