body {
    position: relative;
    min-height: 100vh;

    .message {
        position: absolute;
        left: 50%;
        top: 40%;
        transform: translate(-50%, -50%);
        max-width: 75%;
        font-size: 2rem;
        font-weight: bold;
    }
}
