body {
  width: 100%;
  padding-top: 5rem;
}

.btn-container {
  text-align: center;
}

.col-customed {
  padding: 2.5rem 0;
}

a {
  font-size: 1.25rem;
  padding: 1rem 2rem;
  margin: 0 1rem;
  background-color: rgba(0, 0, 0, 0.75);
  color: #fff;
  box-shadow: -5px 7.5px 10px 1px rgba(0, 0, 0, 0.45);
  transition: 0.5s;
}
a:hover {
  text-decoration: none;
  color: #fff;
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.25);
  letter-spacing: 2px;
}
